body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

#main {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

#main > div{
  border-radius: 5px;
}

:root {
  --header-font-size: 16px;
  --detail-border: 1px solid rgb(230, 230, 230);
}

.flex-parent-horz {
  display: flex;
  justify-content: space-evenly;
}

.flex-grow {
  flex-grow: 1;
}

.center {
  text-align: center;
}

.outer {
  max-width: 1268px;
  width: 85%;
  margin: auto auto;
  display: flex;
  border: 1px solid green;
}


.details{
  font-size: 90%;
  flex-basis: 55%;
  height: 2000px;
  border: 1px solid green;
}

.details > div{
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.shrink {
  transform:scale(0.8);
}

.intro-title {
  color: rbg(34, 34, 34);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.intro-breakdown {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
}

.intro-breakdown-dot {
  margin: 0px;
}

.booking {
  flex-basis: 45%;
}

.booking-module {
  position: sticky;
  margin: 0 0 0 auto;
  top: 0;
  width: 80%;
  height: 200px;
  border: 1px solid pink;
  border-radius: 5px;
}
.calendar-block {  
  position: relative;
  z-index: 0;
  min-height: 300px;
}
.calendar-block-outer{
  display: flex;
  flex-wrap: nowrap;
}
.cal-spacer {
  position: relative;
  padding-left: 10%;
}
.calendar-module {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  z-index: 1;
  min-height: 300px;
  width: 100%;
}Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif

.calendar-title {
  font-size: var(--header-font-size);
}

.cal-scroll-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.cal-button {
  --button-size: 25px;
  height: var(--button-size);
  width: var(--button-size);
  border: none;
  border-radius: 30px;
  background-color: white;
}

.cal-button:hover {
  background-color: rgb(240, 240, 240);
}

.cal-button:focus {
  border: none;
  outline: none;
}

#calLeftButton {
  float: left;
}

#calRightButton {
  float: right;
}
.month-module {
  flex-basis: 1;
  width: 100%;
}
.month-header-div {
  width: fit-content;
  margin: auto auto 15px auto;
}

.day-of-week {
}

.cal-days-block {
  display: flex;
  flex-wrap: wrap;
}

.cal-days {
  flex: 1 0 14%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: white;
}



.cal-days-inner{
  width:fit-content;
  margin: auto auto auto auto;
}

.cal-date-unavailable {
  text-decoration: line-through;
}

.check-in-date {
  border: none;
  outline: none;
  background-color: green;
}
.check-in-stay {
  border: none;
  outline: none;
  background-color: green;
  border-radius: 50% 0px 0px 50%;
}
.stay-day{
  border: none;
  outline: none;
  background-color: green;
  border-radius: 0px 0px 0px 0px;
}
.check-out-date {
  border: none;
  outline: none;
  background-color: green;
  border-radius: 0px 50% 50% 0px;
}

.booking-upper-main {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  width: 90%;
}

.booking-upper-main > * {
  background-color: green;
}

.booking-reviews {
  display: flex;
}
.booking-module {
  border: 1px solid green;
  border-radius: 5%;
  margin-top: 85px;
}
.booking-middle {
  font-size: 9px;
  font-weight: bold;
  border: 1px solid green;
  margin: auto;
  height: 45%;
  width: 90%;
  border-radius: 5%;  
}
.booking-middle-upper {
  display: flex;
}
.booking-middle-upper-left {
  border-right: 1px solid green;
  border-bottom: 1px solid green;
  padding: 8px 5px 5px 8px;

}
.booking-middle-upper-right{
  border-left: 1px solid green;
  border-bottom: 1px solid green;
  padding: 8px 5px 5px 8px;
}

.booking-middle-upper > * {
  width: 50%;
}
.booking-middle-lower {
  padding: 8px 5px 5px 8px;
}
.check-button-div {
  height: 40px;
  width: 90%;
  margin: 8px auto;
  background-color: green;
  border-radius: 8px;
}
.check-button {
  font-size: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
}